// ------------------------------------------------------------
// Flexbox
// Quick guide - https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties
// FlexBugs - https://github.com/philipwalton/flexbugs
// ------------------------------------------------------------

@import "flexbox-mixins";

// Flexbox
%flexbox				{ @include flexbox; }
%inline-flex			{ @include inline-flex; }


// Flexbox grid example
// ------------------------------------------------------------

.flex-row {
	position: relative;
	@extend .display-flexbox;
	@extend .flex-wrap;
	@include flex-dir(row);
}

.flex-column {
	position: relative;
	@extend .display-flexbox;
	@extend .flex-wrap;
	@include flex-dir(column);
}

.flex-cell {
	position: relative;
	overflow: hidden;
	.flex-row--50 & { 
		// 50%
		@include flex(1 0 50%); 
	}
	.flex-row--33 & { 
		// 33%
		@include flex(1 0 33.33333333%); 
	}
	.flex-row--25 & { 
		// 25%
		@include flex(0 1 25%); 
	}
}


// Example aligments and outputs
// ------------------------------------------------------------

.display-flexbox 				{ @extend %flexbox; }
.display-flexbox-inline 		{ @extend %inline-flex; }
.flex-wrap 						{ @include flex-wrap; }

.flex-just-center 				{ @include flex-just(center); }
.flex-just-space-between		{ @include flex-just(space-between); }
.flex-just-space-around			{ @include flex-just(space-around); }
.flex-just-start 				{ @include flex-just(flex-start); }
.flex-just-end 					{ @include flex-just(flex-end); }

.align-items-start 				{ @include align-items(flex-start); }
.align-items-end 				{ @include align-items(flex-end); }
.align-items-center 			{ @include align-items(center); }
.align-items-base 				{ @include align-items(baseline); }
.align-items-strech 			{ @include align-items(stretch); }

.align-self-auto 				{ @include align-self(auto); }
.align-self-start				{ @include align-self(flex-start); }
.align-self-end 				{ @include align-self(flex-end); }
.align-self-center				{ @include align-self(center); }
.align-self-base 				{ @include align-self(baseline); }
.align-self-stretch 			{ @include align-self(stretch); }

.align-content-start 			{ @include align-content(flex-start); }
.align-content-end 				{ @include align-content(flex-end); }
.align-content-center 			{ @include align-content(center); }
.align-content-space-between	{ @include align-content(space-between); }
.align-content-space-around 	{ @include align-content(space-around); }
.align-content-stretch 			{ @include align-content(stretch); }