<footer class="site-footer">
    <div class="wrapper">
        <div class="">
            <div class="">
                <ul class="">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
            <div class="">
                <p class="">{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>
