<div class="as-grid colspan12-12">
	<h2>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h2>
	<img src="{{ site.img_path }}{{ post.cover }}" />
	{{ post.excerpt }}
</div>