// ------------------------------------------------------------
// Colours
// ------------------------------------------------------------

// Brand colours
// ------------------------------------------------------------

// Neons
$ds-n-green 						: #3bd42e;
$ds-n-magenta 						: #f128c1;
$ds-n-blue 							: #0097cd;


// Illustration colours
$ds-space-grey						: #524c62; 



// Social colours
// ------------------------------------------------------------

$facebook-color 					: #3B5998;
$twitter-color 						: #4099FF;
$linkedin-color						: #007bb6;
$youtube-color						: #e52d27;
$pinterest-color					: #C92228;
$instagram-color 					: #517fa4;
$tumblr-color 						: #32506d;
$foursquare-color 					: #0072b1;
$google-color 						: #dd4b39;
$flickr-color 						: #ff0084;


// Colors assigned to roles
// Replace assignments with brand colours
// ------------------------------------------------------------

$body-color 						: $ds-space-grey;  					// Color of the body, or page bkg
$base-color							: #fff;  					// Base color. Our root. I use this for default text color
$heading-color						: $ds-n-green;  					// Color of headings
$action								: $ds-n-blue;						// Better way to say link color
$action-respond						: $ds-n-green;						// Secondary links
$default-border-color 				: #ddd;						// Borders
$form-label-color					: $heading-color;			// Labels
$form-legend-color					: $heading-color;			// Legends
$form-placeholder-color				: $heading-color;			// Labels
$form-checkbox-color				: $heading-color;			// Checkbox ticks
$form-radio-color					: $heading-color;			// Radio
$warning 							: #dfce43;					// Careful now
$error 								: #f3b398;					// Down with that sort of thing
$success 							: #66cd27;					// Good bunch of lads
