// ------------------------------------------------------------
// Settings
// ------------------------------------------------------------

@import "color";


// ------------------------------------------------------------
// :: Global variables
// ------------------------------------------------------------

$border-radius						: 5px;		// Default radius
$internal-spacing-percent 			: 3%;		// Used by grid system. Can be used elsewhere
$internal-spacing					: 20; 		// Space internally with fixed measure
$internal-spacing-pixel				: 20px; 	// Space internally with fixed measure in pixels 
$default-border-width 				: 1px; 		// Ruler width


// ------------------------------------------------------------
// :: Breakpoints
// Add and replace as needed
// ------------------------------------------------------------

$a-vp								: 300px;									// first viewport change @
$b-vp 								: 500px;
$c-vp 								: 760px;
$d-vp 								: 980px;
$max-grid 							: 1100px; 									// Max grid width
$max-vp 							: ($max-grid + $internal-spacing-pixel*2); 	// Max viewport width

$ie-fixed-vp						: $d-vp;    								// Viewport for IE fixed width

$start-columns 						: $a-vp;									// Kick columns in above this break (for grid)
$table-respond						: $c-vp;									// Width where tables change layout

// ------------------------------------------------------------
// :: Type
// Greek alphabet naming system. 
// Obscure, yet hierarchical. 
// Allows us to avoid naming based on html object. 
// ------------------------------------------------------------

$alpha   	: 32;
$beta		: 28;
$gamma		: 26;
$delta		: 24;
$epsilon	: 22;
$zeta		: 20;
$eta		: 18;
$theta		: 16;
$iota 		: 14;
$kappa 		: 12;

// Calc units
$rembase 			: 10;			// What do we want our rems to calculate from. 10 is nice and easy
$base-rhythm		: 24;			// Vertical rhythm	

// Set units
$base-font-size		: $theta; 		// Page default size
$para				: $theta;  	 	// Paragraph size
$quote				: $delta;	 	// Quote size
$form-label-size    : $iota;		// Form label size
$form-legend-size	: $delta;		// Form legend size 
