// ------------------------------------------------------------
// Core typography
// ------------------------------------------------------------

.as-heading-headline { 
	@include font-size($alpha); 
	@include leading($base-font-size*1.75); 
} 
.as-heading-headline--typeset-leader { 
	@include leader($base-font-size*2.25); 
} 
.as-heading-headline--typeset-trailer { 
	@include trailer($base-font-size); 
} 

.as-heading-largest { 
	@include font-size($beta); 
	@include leading($base-font-size*1.5); 
} 
.as-heading-largest--typeset-leader { 
	@include leader($base-font-size*2.5); 
} 
.as-heading-largest--typeset-trailer { 
	@include trailer($base-font-size); 
} 
	
.as-heading-large { 
	@include font-size($gamma); 
	@include leading($base-font-size*1.25); 
} 	
.as-heading-large--typeset-leader 	{ 
	@include leader($base-font-size*2.5); 
}	
.as-heading-large--typeset-trailer	{ 
	@include trailer($base-font-size); 
} 

	
.as-heading-small { 
	@include font-size($delta); 
	@include leading($base-font-size*1.25);
} 	
.as-heading-small--typeset-leader 	{ 
	@include leader($base-font-size*2.5); 
}		
.as-heading-small--typeset-trailer 	{ 
	@include trailer($base-font-size); 
}


// ------------------------------------------------------------
// Other text
// ------------------------------------------------------------
	
.as-para 			{ @include font-size($para); }
.as-para--typeset 	{ @include trailer($base-font-size); }


.as-unordered-list {
	@include unordered; 
	padding-left: 1em;
	li {
		@extend .as-list-item--typeset;
	}
}

.as-ordered-list {
	@include ordered; 
	padding-left: 1.25em;
	li {
		@extend .as-list-item--typeset;
	}
}

.as-nobullet-list {
	@include nobullet; 
	li {
		@extend .as-list-item--typeset;
	}
}

.as-list--typeset 					{ @include trailer($para); @include leader($para); }
.as-unordered-list--typeset 		{ @extend .as-list--typeset; }
.as-ordered-list--typeset 			{ @extend .as-list--typeset; }
.as-list-item--typeset 				{ @include trailer($para/2); }


// ------------------------------------------------------------
// Use on parent element to style elements within. E.g an article page
// ------------------------------------------------------------

.is-typeset {
	.headline { 
		@extend .as-heading-headline; 	
		@extend .as-heading-headline--typeset-trailer; 
	} 
	h1 { 
		@extend .as-heading-largest; 	 
		@extend .as-heading-largest--typeset-leader; 
		@extend .as-heading-largest--typeset-trailer;
	} 	
	h2, h3, h4 { 
		@extend .as-heading-large; 		 
		@extend .as-heading-large--typeset-leader;
		@extend .as-heading-large--typeset-trailer;
	} 	
	h5, h6	{ 
		@extend .as-heading-small; 		 
		@extend .as-heading-small--typeset-leader;
		@extend .as-heading-small--typeset-trailer;
	} 	 	 	
	p { 
		@extend .as-para--typeset; 
	}
	ol { 
		@extend .as-ordered-list;
		@extend .as-ordered-list--typeset; 
	}
	ul { 
		@extend .as-unordered-list;
		@extend .as-unordered-list--typeset; 
	}
}

