// ------------------------------------------------------------
// Specific sizes
// Size icons and images
// ------------------------------------------------------------

$scales: 64;

@each $scale in $scales {
    .ico--#{$scale} {
    	width: ($scale) + px;
    	height: ($scale) + px;
    }
    .ico--padded-#{$scale} {
    	padding: ($scale/3.5) + px;
    	// Use modernizer to check if has SVG support
	    html.svg & {
	    	border: ($scale/3.5) + px solid transparent; // Faux padding effect
	    	padding: 0;
	    }
    }
}