// ------------------------------------------------------------
// Alerts
// ------------------------------------------------------------

.alert {
	@include padding-trailer($internal-spacing/2);
	@include padding-leader($internal-spacing/2);
}

.alert--notice {
	@include padding-left($internal-spacing/2);
	@include padding-right($internal-spacing/2);
	color: $heading-color;
	background: $warning;
}

.alert--error {
	@extend .alert--notice;
	background: $error;
}

.alert--success {
	@extend .alert--notice;
	background: $success;
}
