// ------------------------------------------------------------
// Button styles
// ------------------------------------------------------------

.button {
	background: transparent; // // Reset button and reset elements
	border: none; // Reset button and reset elements
	// ------- //
	display: inline-block;
	text-align: center;
	padding: 12px 18px;
	color: #fff;
	font-size: 90%;
	background-color: $action;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	line-height: 1;
	@include link-active-styles {
		color: #fff;
		background-color: $action-respond;
	}
}

.button--secondary {
	background-color: $action-respond;
	@include link-active-styles {
		background-color: $action;
	}
}

.button--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	@include vendor(filter, grayscale(100%));
}