// ------------------------------------------------------------
// Colours and fills
// Add more to the array to populate consistent names across
// colors, fills (aka background) and rules (aka borders)
// ------------------------------------------------------------

@each $number, $color in 
		('white', #fff),
		('black', #000),
		('facebook', $facebook-color),
		('twitter', $twitter-color),
	{
	html > body .color-#{$number} {
		color: $color;
	}
	html > body .fill-#{$number} {
		background-color: $color;
	}
	html > body .rule-#{$number} {
		border-color: $color;
	}
}
