// Form styles
// See form-items sub–folder for individuals
// ------------------------------------------------------------

.form {
	position: relative;
}

// Sections / fieldsets
.form-section {
	@include padding-all($internal-spacing);
	background: #fff;
	border: $default-border-width solid $default-border-color;
}

// Labels
.form-label {
	margin-bottom: 4px;
	&.form-label--hidden {
		text-indent: -9999em;
	}
}

// Form field wrapper
.form-field {
	position: relative;
	@extend %pie-clearfix;
}

// Space the form field
.form-field--spaced {
	@include padding-leader($internal-spacing/2);
}

// Element paired item
.form-field__pair {
	width: 49.5%;
	margin-left: 1%;
	display: inline-block;
	margin-bottom: 0;
	float: left;
	@extend %pie-clearfix;
	&:first-child {
		margin-left: 0;
	}
}

// Element triple item
.form-field__triplet {
	width: 32.5%;
	margin-left: 1.25%;
	display: inline-block;
	margin-bottom: 0;
	float: left;
	@extend %pie-clearfix;
	&:first-child {
		margin-left: 0;
	}
}

// Standard form elements  
.form-item {
	@include padding-all($internal-spacing/2);
	display: block;
	border: $default-border-width solid $default-border-color;
	@include vendor(appearance, none);
	&::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}
}

// Get individul items
// -----------------------
@import url("form-items/*.scss");
