@include grid;

// ------------------------------------------------------------

.row {
	@extend %pie-clearfix;
	min-width: auto; 
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: $internal-spacing-pixel;
	padding-right: $internal-spacing-pixel;
	@include respond-to($max-vp) {
		padding-left: 0;
		padding-right: 0;
	}
}

// Drag row left to allow for equal spaced grid. AKA gutters
// Gutters set in mixins.scss file
.row__colspaced {
	position: relative;
	@extend %pie-clearfix;
	@include respond-to($start-columns) {			
		min-width: (100% + $internal-spacing-percent); 	
		left: -$internal-spacing-percent; 	
	}
}