// ------------------------------------------------------------
// Media controllers
// ------------------------------------------------------------

// Image control class
.max-width 		{ @extend %max-width; }
picture img 	{ @extend %max-width; }

// Basic responsive videos
// http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
// ------------------------------------------------------------

.media-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

