// ---------------------------------------
// Gets svgs and provide fallbacks
// ---------------------------------------

// Name SVG's, with the exact filename in an array
$svgs: example, twitter-white, facebook-white;


// Get svgs
// ---------------------------------------

@each $icon in $svgs {
    .svg-#{$icon} {
    	background-image: url("../svg/fallbacks/#{$icon}.png");
    }
    // Use modernizer to check if has SVG support
    html.svg {
    	.svg-#{$icon} {
    		background-image: url("../svg/#{$icon}.svg");
    	}
    }
}


// Setup defaults
// ---------------------------------------

.as-svg 		{ @extend .background-cover; }

// For Pattern Library Demo
.as-svg--demo 	{ background-size: contain; text-indent: -9999em; display: inline-block; width: 80px; height: 80px; }

