// ------------------------------------------------------------
// Aligment and meter
// ------------------------------------------------------------

.max-meter 				{ max-width: 800px; }
.max-meter--center 		{ margin-left: auto; margin-right: auto; }
.is-justified 			{ text-align: justify; @include vendor(hyphens, auto); }

// ------------------------------------------------------------
// Font features
// ------------------------------------------------------------

.apply-font-features 	{ @include vendor(font-feature-settings, "liga", "dlig"); }

// ------------------------------------------------------------
// Additional goodies
// ------------------------------------------------------------

.is-typeset--additionals {
	> p:first-of-type {
		color: $heading-color;
		font-size: 115%;
		@include leading($base-font-size*1.05);
	}
}

// ------------------------------------------------------------
// Blockquotes
// ------------------------------------------------------------

.as-blockquote {
	p {
		@include font-size($quote); 
	}
	cite {
		display: block;	
		@include leader($base-font-size*2);
		@include padding-left($base-font-size);
	}
}