@import "core/reset";
@import "core/settings";
@import "core/mixins";
@import "core/placeholders";

/* ------------------------------------------------------------ */

html {
	font-size: 12px;
	‑webkit‑text‑size‑adjust: 100%;
}

body {
	@extend %font-body;
	@include font-size($base-font-size);
	@include leading($base-font-size);
	background: $body-color;
	color: $base-color;
}

h1, h2, h3, h4, h5, h6 {
	@extend %font-heading;
}

/* :: Granular and Modular styles */
/* ------------------------------------------------------------ */

// Import core modules that pertain to styling
@import "core/base";
@import "core/forms";
@import "core/fonts";
@import "core/typography";
@import "core/branding";

// Import all or individual optional items as required
//@import "optional/*";

// Import all or individual library items as required
//@import "libs/*";

@import url("modules/*");  


// Import all modules
// @import "modules/0_sizing.scss";
// @import "modules/0_spacing-padding.scss";
// @import "modules/alerts.scss";
// @import "modules/backgrounds.scss";
// @import "modules/buttons.scss";
// @import "modules/color.scss";
// @import "modules/form-elements.scss";
// @import "modules/grid.scss";
// @import "modules/media.scss";
// @import "modules/navigation.scss";
// @import "modules/ratios.scss";
// @import "modules/rulers.scss";
// @import "modules/svg.scss";
// @import "modules/tables.scss";
// @import "modules/typography-additions.scss";
// @import "modules/ico.scss";


/* ::Print */
/* ------------------------------------------------------------ */

@media print { 
	body { 
		font-size: percentage(10 / 16); 
	}
	*[role="navigation"] {
		display: none;
	} 
}