// ::Imports. Needed for imported individual form items
// ------------------------------------------------------------


// Radio and checkboxes: Browser standard display
// -----------------------

.form-field__radio-buttons,
.form-field__checkboxes {
	label {
		position: relative;
		top: 0;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			text-indent: -999em;
			display: block;
			height: 0;
		}
	}
	input {
		float: left;
		margin-right: $internal-spacing-pixel/2;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			text-indent: -999em;
			display: block;
			height: 0;
		}
	}
}

// Radio and checkboxes: Additional style
// -----------------------

:root .form-field__checkboxes--styled,
:root .form-field__radio-buttons--styled {
	min-height: 30px;
	@extend %pie-clearfix;
	input {
		//display: none;
		position: relative;
		z-index: 0;
		top: auto;
		left: -99999em;
		position: absolute;
		&:focus {
			+ label {
				color: $action;
			}
		}
	}
	label {
	    cursor: pointer;
	    vertical-align: top;
	    position: relative;
		z-index: 1;
	}
}

// Checkboxes
:root .form-field__checkboxes--styled {
	label:before {
		content: "";
		display: inline-block;
		vertical-align: text-top;
		width: 22px;
		height: 22px;
		margin-right: 10px;
		margin-top: -1px;
		background-color: #fff;
		border: $default-border-width solid $default-border-color;
		border-radius: 3px;
		float: left;
	}
	input:checked + label:after {
		position: absolute;
		content: "";
		top: 5px;
		left: 5px;
		width: 12px;
		height: 8px;
		border: 3px solid $form-checkbox-color;
		border-top: none;
		border-right: none;
		@include vendor(transform, rotate(-45deg));
		z-index: 3;
	}
}

// Radio
:root .form-field__radio-buttons--styled {
	label:before {
		content: "";
		display: inline-block;
		vertical-align: text-top;
		width: 22px;
		height: 22px;
		margin-right: 10px;
		margin-top: -1px;
		background-color: #fff;
		border: $default-border-width solid $default-border-color;
		border-radius: 50%;
		float: left;
	}
	input:checked + label:after {
		position: absolute;
		content: "";
		top: 5px;
		left: 6px;
		height: 10px;
		width: 10px;
		background: $form-radio-color;
		border-radius: 50%;
		z-index: 3;
	}
}
