// ::Imports. Needed for imported individual form items
// ------------------------------------------------------------


// Selects
// -----------------------

.form-field__select-dropdown {
	width: 100%;
	height: $internal-spacing-pixel*2;
	overflow: hidden;
	background-color: #fff;
	border: $default-border-width solid $default-border-color;
	display: block;
	position: relative;
	cursor: pointer;
	&:hover, &:focus {
		border-color: $action;
		cursor: pointer;
	}
	&:after {
		background: url(../svg/icon-sort.svg) transparent no-repeat 0 0;
		height: 14px;
		width: 8px;
		display: block;
		position: absolute;
		top: 14px;
		right: 14px;
		content: ".";
		text-indent: -999999em;
		html.lt-ie9 & {
			background: none;
		}
	}
	select {
		background: transparent;
		color: $form-label-color;
		width: 99%;
		padding: 4px 10px 0 10px;
		border: 0;
		border-radius: 0;
		height: 100%;
		position: relative;
		z-index: 99;
		vertical-align: middle;
		text-indent: 0.01px;
		text-overflow: '';
		@include vendor(appearance, none);
		-moz-appearance: window; // Hides firefox native select arrow
		&:hover {
			cursor: pointer;
		}
		&::-ms-expand {
			display: none;
		}
	}
}

// Mozilla hack for dropdown text placement
@-moz-document url-prefix() {
	.select-dropdown {
		select {
			margin-top: 3px;
		}
	}
}