// Errors
// -----------------------

.form-field__error {
	padding: 1.5em 1em 1em 1em;
	border: 1px solid $error;
	.form-item,
	.form-field__select-dropdown {
		border-color: $error;
	}
}

.form-field__error__message {
	color: darken($error, 30%);
	margin-top: 6px;
	font-size: 0.75em;
}

// Warning
// -----------------------

.form-field__warning {
	@extend .form-field__error;
	border-color: $warning;
	.form-item,
	.form-field__select-dropdown {
		border-color: $warning;
	}
}

.form-field__warning__message {
	color: darken($warning, 30%);
	@extend .form-field__error__message;
}

// Success
// -----------------------

.form-field__success {
	@extend .form-field__error;
	border-color: $success;
	.form-item,
	.form-field__select-dropdown {
		border-color: $success;
	}
}

.form-field__success__message {
	color: darken($success, 30%);
	@extend .form-field__error__message;
}