---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <img src="../{{ site.img_path }}{{ page.cover }}" />

  <article class="post-content">
    {{ content }}
  </article>

</div>
